{% extends "base.html" %}

{# Override Open Graph and Twitter Card tags for this specific product #}
{% block og_type %}product{% endblock %}
{% block og_description %}{{ product.description | striptags | truncate(155) }}{% endblock %}
{% block og_image %}{{ url_for('static', filename=product.image, _external=True) }}{% endblock %}
{% block twitter_description %}{{ product.description | striptags | truncate(155) }}{% endblock %}
{% block twitter_image %}{{ url_for('static', filename=product.image, _external=True) }}{% endblock %}

{# Add Product-specific JSON-LD structured data #}
{% block json_ld_extra %}
<script type="application/ld+json">
{
  "@context": "https://schema.org/",
  "@type": "Product",
  "name": "{{ product.name }}",
  "image": [
    "{{ url_for('static', filename=product.image, _external=True) }}"
   ],
  "description": "{{ product.description }}",
  "sku": "IKS-{{ product.id }}",
  "brand": {
    "@type": "Brand",
    "name": "GauBaanSa"
  },
}
</script>
{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/components/product_detail.css', v=cache_buster) }}">
{% endblock %}

{% block content %}
<div class="product-detail-page">
    <div class="product-container">
        <div class="product-gallery">
            <img src="{{ url_for('static', filename=product.image) }}" alt="{{ product.name }}" class="main-image">
        </div>
        <div class="product-details">
            <h1>{{ product.name }}</h1>
            {% if product.unit %}
            <p class="product-unit-info">Sold per {{ product.unit }}</p>
            {% endif %}
            
            {% if product.features %}
            <div class="product-features">
                <h3>Key Features</h3>
                <ul>
                    {% for feature in product.features.split(',') %}
                    <li>{{ feature }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}

            <div class="product-description">
                <h3>Description</h3>
                <p>{{ product.description }}</p>
            </div>

            <a href="{{ url_for('contact') }}" class="inquire-btn">Inquire Now</a>
        </div>
    </div>
</div>
{% endblock %}